:root {
    --cor-primaria : #739072;
    --cor-secundaria: #3A4D39;
    --cor-terceira: #e6e6e6;
    --fonte-padrao: 'Arial';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    height: 10%;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-padrao), serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    height: 85%;
    width: 100%;
    max-width: 100%;
    background-color:var(--cor-terceira);;
    font-family: var(--fonte-padrao), serif;
    text-align: center;
    justify-content: space-around;
}

.main-container {
    display: flex;
    max-width: 200px;
    max-height: 400px;
    flex-direction: column;
}

.main-title {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;

}

.main-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-content::after { /* Borda Personalizável */
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--cor-secundaria);
}

.main-title::after { /* Borda Personalizável */
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--cor-secundaria);
}

.main-content-scroll {
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    text-align: start;
    margin-bottom: 1em;
    overflow-wrap: break-word;
}

.main-content-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 0 10px 0;
    gap: 0.5em;
}

.main-content-form-input{
    text-align: center;
}

.main-content-scroll::-webkit-scrollbar {
    width: 4px;
    margin-left: 30px;
    padding-left: 30px;
}

.main-content-scroll::-webkit-scrollbar-track { /* Fundo do Scroll */
    background: var(--cor-primaria);
    border-radius: 10px;
}

.main-content-scroll::-webkit-scrollbar-thumb { /* Fundo do Scroll */
    background: var(--cor-secundaria);

}

.main-content-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.footer {
    display: flex;
    height: 5%;
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-padrao), serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

