@import url("Components/header.css");
@import url("Components/main.css");
@import url("Components/footer.css");
@import url("Components/scrollBarStyle.css");
@import url("Components/formStyle.css");

:root {
    --cor-primaria : #739072;
    --cor-secundaria: #3A4D39;
    --cor-terceira: #e6e6e6;
    --fonte-padrao: 'Arial';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}





