.main-content-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 0 10px 0;
    gap: 0.5em;
}

.main-content-form.row{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main-content-form input{
    border: 0;
    background-color: transparent;
    border-bottom: var(--cor-secundaria) solid 0.15em;
    font-size: 0.95em;
    font-weight: bold;
    color: var(--cor-primaria);

}

.main-content-form button{
    font-size: 0.95em;
    color: var(--cor-terceira);
    padding: 0.25em 0.75em;
}

.register{
    background-color: darkseagreen;
    border: darkgreen solid 0.15em;
}

.register:hover{
    background-color: darkolivegreen;
}

.register:active{
    background-color: darkgreen;
}

.update{
    background-color: mediumpurple;
    border: purple solid 0.15em;
}

.update:hover{
    background-color: rebeccapurple;
}

.update:active{
    background-color: purple;
}

.delete{
    background-color: palevioletred;
    border: darkred solid 0.15em;
}

.delete:hover{
    background-color: red;
}

.delete:active{
    background-color: darkred;
}