.main-content-scroll::-webkit-scrollbar {
    width: 4px;
    margin-left: 30px;
    padding-left: 30px;
}

.main-content-scroll::-webkit-scrollbar-track { /* Fundo do Scroll */
    background: var(--cor-primaria);
    border-radius: 10px;
}

.main-content-scroll::-webkit-scrollbar-thumb { /* Fundo do Scroll */
    background: var(--cor-secundaria);

}

.main-content-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}